/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

/* Global Reset and Base Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --tenne-tawny: #52392b;
  --tenne-tawny-dark: #b54507;
}

body {
  background-color: #d1a824;
  font-weight: 300;
  font-size: 1.05rem;
  line-height: 1.6;
  height: 100vh; /* Adjust height to fill viewport */
}

/* Custom CSS for centering search container */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* Optional: Set a background color */
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #ccc; /* Optional: Add a border for visibility */
  border-radius: 10px; /* Optional: Add border radius */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
}

.search-container input[type="text"] {
  width: 100%;
  max-width: 400px; /* Optional: Set max-width for input */
  margin-bottom: 10px; /* Optional: Adjust spacing */
}

.search-container button {
  width: 100%;
  max-width: 150px; /* Optional: Set max-width for button */
}

/* Recipe Container */
#recipe-container {
  max-height: 1500rem;
  max-width: 2600px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 600px;
  height: 300px;
  object-fit: cover;
}

.card-body {
  padding: 1.6rem;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
}

.card-text {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.instructions {
  white-space: pre-wrap;
  margin-top: 1.5rem;
}


.btn-primary {
  background-color: var(--tenne-tawny);
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  transition: background 0.4s ease;
}

.btn-primary:hover {
  background-color: var(--tenne-tawny-dark);
}

.btn-secondary {
  border-radius: 5px;
}
/* Ensure the image takes full height on smaller screens */
.img-fluid {
  height: auto;
  max-width: 100%;
}

@media (max-width: 768px) {
  .col-md-4 {
    order: 2; /* Move image below on smaller screens */
    text-align: center;
    margin-bottom: 20px;
  }
  .col-md-8 {
    order: 1; /* Move content above on smaller screens */
  }
}
